/*
body {
    background-color: rgb(63, 116, 185, 0.9);
}

p {
    color: blue;
    font-size: 50px;
    margin-left: 100px;
}

.cube {
    height: 100px;
    width: 100px;
    border: solid black;
    background-color: darkmagenta;
    margin-left: 200px;
}
*/